<div class="my-2">
    <label for="todo-crud__add" class="mb-1 d-block">
        Add new element
    </label>
    <form class="d-flex flex-wrap" (ngSubmit)="submit()">
        <input class="form-control flex-grow-1" type="text" id="todo-crud__add" name="todo-crud__add"
            placeholder="Enter new element..." [(ngModel)]="input" />
        <button type="submit" class="btn btn-primary d-block flex-grow-1 flex-shrink-0" [disabled]="!input">
            Add new element
        </button>
    </form>
</div>
<table class="todo-crud__table">
    <thead>
        <tr>
            <th>Name</th>
            <th class="text-center">Done</th>
            <th class="text-center">Remove</th>
        </tr>
    </thead>
    <tbody>
        <tr [class.todo-crud__item--done]="item.done" *ngFor="let item of list; let i = index;">
            <td class="todo-crud__item-name">
                {{item.name}}
            </td>
            <td class="text-center">
                <button class="btn btn-sm btn-default" (click)="toggleActive(i)">
                    Toggle done
                </button>
            </td>
            <td class="text-center">
                <button class="btn btn-sm btn-default" (click)="removeItem(i)">
                    X
                </button>
            </td>
        </tr>
    </tbody>
</table>